

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.rel-btn {
    position: absolute;
    right: 24px;
}

.banner-container {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}
.banner-box-container {
    background: rgba(228, 235, 235, 0.7);
    height: 80vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.banner-box-container > h1 {
    color:#274C5B;
    font-size: 80px;
    /*margin-top: -200px;*/
    font-family:Junge, serif;
    text-align: center;
}

.banner-box-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: Montserrat, sans-serif;
}

.banner-btns {
    margin-top: 32px;
}

.banner-btns .btn {
    margin: 6px;
}

.fa-circle-play {
    margin-left: 4px;
}

@media screen and (max-width: 960px) {
    .banner-box-container > h1 {
        font-size: 60px;
        margin-top: -150px;
    }
}

@media screen and (max-width: 768px) {
    .banner-box-container > h1 {
        font-size: 36px;
        margin-top: -50px;
    }

    .banner-box-container > p {
        font-size: 18px;
    }

    .btn-mobile {
        display: block;
        text-decoration: none;
    }
}

.btn {
    width: 100%;
}

